h1,h2,h3,p,li,ul,div{
	font-family: 'Century Gothic';
}

.jumbotron{
	text-align:center;
}

.profile{
	text-align:center;
}

.profile img{
	display:block;
	box-shadow: 0 0 5px #fff;
	margin: 0 auto;
	max-width:200px;
	max-height:150px;
}