h1,h2,h3,p,li,ul,div{
	font-family: 'Century Gothic';
}
.centered{
	text-align:center;
}

.profile img{
	display:block;
	box-shadow: 0 0 5px #fff;
	margin: 0 auto;
	max-width:200px;
	max-height:150px;
}

#tweets{
	list-style: none;
}

#tweets span{
	margin:0 10px 0 5px;
}

.home{
	color:black;
}	

.date{
	font-size: 9px;
	color:red;
}

#update{
	background-color: rgb(200, 255, 228);
}

#addTweet{
}